@tailwind base;
@tailwind components;
@tailwind utilities;

.outline-custom {
  outline: 3px solid rgb(0, 174, 255); /* Custom outline */
}

.animation {
  animation: circleOutline 2s forwards;
  animation-delay: 0.25s;
  -webkit-animation: circleOutline 2s forwards;
}

@keyframes circleOutline {
  to {
    ouline: 3px solid rgb(0, 175, 255);
  }
}

.animationCircleFiled {
  animation: CircleFiled 1s forwards;
  -webkit-animation: CircleFiled 1s forwards;
}

@keyframes CircleFiled {
  from {
    background-color: rgb(255, 255, 255);
  }
  to {
    background-color: rgb(0, 175, 255);
    color: white;
  }
}
